# === OS ===
.DS_Store
Thumbs.db
desktop.ini

# === IDE ===
.idea/
.vscode/
.vs/
*.sublime-workspace
*.sublime-project
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# === Node ===
node_modules/

# === Logs ===
*.log
logs/

# === Environment ===
.env
.env.test
.env.local
.env.*.local

# === Build ===
dist/
coverage/
